{% extends ":Default:layout.html.twig" %}

{% block title %}Ajouter une figure{% endblock %}

{% block content %}

    <div class="row bottom10">
        <div class="col-xs-12 text-center">
            <h2>{{ title }}</h2>
        </div>
        <div class="row">

            <div class="container">

                {% if title == 'Modification d\'une figure' %}
                    <div class="col-xs-12"><a href="{{ path('SnowtricksCore_Figure', {id: trick.id}) }}"><div class="col-xs-3 col-xs-offset-9 btn btn-success">Revenir à la figure</div></a></div>
                {% endif %}

                {{ form_start(form) }}
                <div class="col-xs-12 top10 bottom10">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-xs-12 top10 bottom10">
                    {{ form_row(form.description) }}
                </div>

                <div class="col-xs-12 top10">
                    {{ form_row(form.group) }}
                </div>

                <div class=col-xs-12 id="pictures-form">
                    <div class="col-xs-12 text-center top10 bottom10"><strong>Ajouter une image à la figure :</strong>
                    <p>(image au format jpg de moins de 1 mo)</p></div>
                    <div class="col-xs-12 text-center bottom10">{{ form_row(form.uploadPictures) }}</div>
                    <div class="col-xs-10 col-xs-offset-1"><hr></div>
                    <div class="col-xs-12 top10" id="pictures-preview"></div>
                    {% if title == 'Modification d\'une figure' %}
                        <div class="col-xs-12 text-right" id="picture-content">
                            {{ render(controller(
                            'SnowtricksCoreBundle:Pictures:deleteMainPage',
                            { 'trick': trick,
                            }
                            )) }}
                        </div>
                    {% endif %}
                </div>

                <div class=col-xs-12 id="videos-form">
                    <div class="col-xs-11 text-justify">
                        <p id="add-video-help"><strong>Aide :</strong> Pour ajouter une video, vous devez vous rendre sur la page de la video en question, (youtube dailymotion ou autre)
                        chercher le lien de partage (option partager), puis copier <strong>l'embed code</strong> (option intégrer, iframe ou toutes données html fournies par le site pour intégrer
                            leur video), et enfin coller le texte dans le champ "Ajoutez une video à la figure" de ce formulaire.</p>
                    </div>
                    <div class="col-xs-1" id="about-add-video"><img src="https://openclipart.org/image/25px/svg_to_png/227978/Question-Mark-Icon.png&disposition=attachment" alt="Aide" /></div>
                    <div class="col-xs-12 text-center bottom10">{{ form_row(form.videos) }}</div>
                    <a href="#videos-form" id="add_video" class="btn btn-default">Ajouter une video</a>
                    <div class="col-xs-10 col-xs-offset-1"><hr></div>
                    <div class="col-xs-12 top10 bottom10" id="videos-preview"></div>
                    {% if title == 'Modification d\'une figure' %}
                        <div class="col-xs-12 text-right">
                            <div class="col-xs-12 text-right" id="video-content">
                                {{ render(controller(
                                'SnowtricksCoreBundle:Videos:deleteMainPage',
                                { 'trick': trick,
                                }
                                )) }}
                            </div>
                    {% endif %}
                </div>

                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}
