{% extends ":Default:layout.html.twig" %}

{% block title %}{{ trick.title }}{% endblock %}

{% block content %}

    <!-- Media visualisaton
    ===================================-->
    <div class="row">
        <div class="container">
            <div class="col-xs-12 text-center noPadding">
                <h2>{{ trick.title }}</h2>
                {% set x = 0 %}
                {% set medias = trick.pictures|merge(trick.videos) %}
                {% if medias is empty %}
                    Désolé, il n'y a pas encore de médias sur cette figure. Connectez vous pour ajouter les votres.
                {% else %}
                    <!-- Caroussel
        ================================================== -->
                    <div class="row top10">
                        <div class="container noPadding">
                            <div id ="carousel" class="carousel slide" data-interval="false">

                                <ol class="carousel-indicators">
                                {% for eachMedia in medias %}
                                    <li data-target="#carousel" data-slide-to="{{ x }}" class="{% if x == 0 %}active{% endif %}"></li>
                                    {% set x = x + 1 %}
                                {% endfor %}
                                </ol>

                                <div class="carousel-inner">
                                    {% set x = 0 %}
                                    {% for eachMedia in medias %}
                                        {% set newMediasArray = [] %}
                                        {% set media = random(medias) %}
                                        {% for med in medias %}
                                            {% if med != media %}
                                                {% set newMediasArray = newMediasArray|merge([med]) %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="item {% if x == 0 %}active{% endif %}">
                                            <div class="car-img flex-middle flex-center" data-type="{% if media in trick.pictures %}picture" data-src="/{{ media.fullSize }}" title="Agrandir">
                                                                                                    {% else %}video" data-src="{{ media.address }}" title="Agrandir">
                                                                                                    {% endif %}
                                            </div>
                                        </div>
                                        {% set medias = newMediasArray %}
                                        {% set x = x + 1 %}
                                    {% endfor %}
                                </div>
                                <!-- Navigation Buttons
                                ================================================ -->
                                <a class="left carousel-control" href="#carousel" data-slide="prev">
                                    <img class="fleche-car fleche-gauche" src="{{ asset('bundles/snowtrickscore/img/fleche_haut.png') }}">
                                </a>
                                <a class="right carousel-control" href="#carousel" data-slide="next">
                                    <img class="fleche-car fleche-droite" src="{{ asset('bundles/snowtrickscore/img/fleche_haut.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row" id="author-line">
        <div class="col-xs-1">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('SnowtricksCore_Trick_Update', { 'id': trick.id}) }}">
                    <div class="col-xs-12" title="modifier">
                        <strong class="figure-button"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></strong>
                    </div>
                </a>
            {% endif %}
        </div>
        <div class="col-xs-1 col-xs-offset-1">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('SnowtricksCore_Trick_Delete', { 'id': trick.id}) }}">
                    <div class="col-xs-12" title="supprimer">
                        <strong class="figure-button"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></strong>
                    </div>
                </a>
            {% endif %}
        </div>
        <div class="col-xs-6 text-center">
            <strong>De :</strong> {{ trick.createdBy.name }} {{ trick.createdBy.surname }}
        </div>

        <div class="col-xs-3 text-right" id="group-name">
            <strong>{{ trick.group.name }}</strong>
        </div>
    </div>
    <div class="row" id="description-line">
        <div class="col-xs-12 text-justify">
            <p>{{ trick.description }}</p>
        </div>
    </div>




    <!--==============================-->
        <!-- Messages module
    ===================================-->
            {{ render(controller(
            'SnowtricksCoreBundle:Messages:index',
                { 'trick': trick,
                  'request': request
                }
            )) }}
    <!--==============================-->


    {% endblock %}
