{% extends ":Default:layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

            <!-- Texte de bienvenue
            ================================================== -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>Bienvenue</h2>
                </div>
                <div class="col-xs-12 text-justify">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>
                </div>
            </div>

            <!-- ================================================== -->

            <!-- Search Form
            ================================================== -->
            <div class="row">
                {{ form_start(form) }}

                    {{ form_row(form.firstResult) }}
                    <div class="col-xs-11 noPaddingRight top10">
                        {{ form_row(form.search) }}
                    </div>
                    <div class="col-xs-1 noPaddingLeft top10">
                        <span class="btn btn-info search-btn"><i class="fa fa-search"></i>  Rechercher</span>
                    </div>

                    <div class="col-md-2 col-xs-6 top10 text-center">
                        {{ form_row(form.number) }}
                    </div>
                    <div class="col-md-3 col-md-offset-2 col-xs-6 top10 text-center">
                        {{ form_row(form.orderedBy) }}
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-xs-6 top10 text-center">
                        {{ form_row(form.order) }}
                    </div>
                    <div class="col-md-1 col-xs-6 top10 text-center">
                        <button type="submit" class="btn btn-info sort-btn col-xs-12" id="sort" formnovalidate><i class="fa fa-sort"></i> Trier</button>
                    </div>

                {{ form_end(form) }}
            </div>
            <!-- ================================================== -->

            <!-- Tricks list
            ================================================== -->
            <div class="col-xs-12">
                <h3>Voici la liste des figures disponibles :</h3>
            </div>

            {% for trick in tricks %}
                <div class="col-xs-12 trick-line">
                    <div class="col-xs-6"><a href="#"><h4>{{ trick.title }}</h4></a></div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="col-xs-1 col-xs-offset-1 text-center"><h4><i class="fa fa-pencil" aria-hidden="true"></i></h4></div>
                        <div class="col-xs-1 col-xs-offset-1 text-center"><h4><i class="fa fa-trash-o" aria-hidden="true"></i></h4></div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="col-xs-12 top10 bottom10">
                {% if search.firstResult != 0 %}
                <div class="col-xs-3">
                    <span class="btn btn-info prev-btn"><i class="fa fa-arrow-circle-left"></i> Précédent</span>
                </div>
                {% endif %}

                {% if search.firstResult == 0 %}
                    <div class="col-xs-4 col-xs-offset-4 text-center">
                {% else %}
                    <div class="col-xs-4 col-xs-offset-1 text-center">
                {% endif %}
                    Page {{ ((search.firstResult+1) // search.number)+1 }} sur {{ (tricks|length/search.number)|round(0, 'ceil') }}
                </div>

                {% if search.firstResult + search.number < tricks|length %}
                     <div class="col-xs-3 col-xs-offset-1 next-btn">
                        <span class="btn btn-info">Suivant <i class="fa fa-arrow-circle-right"></i></span>
                     </div>
                {% endif %}
            </div>
            <!-- ================================================== -->
{% endblock %}
