{% extends ":Default:layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

            <!-- Texte de bienvenue
            ================================================== -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>Bienvenue</h2>
                </div>
                <div class="col-xs-12 text-justify">

                    <p><strong>Bonjour à vous</strong> et bienvenue sur le site de Snowtricks. il est entièrement dédié aux amateurs de snowboard.</p>
                    <p> Vous trouverez au fils des pages de ce site, toute une liste de figures de snow, agrémentées de photos, de vidéos et de
                        précieux commentaires et conseils de nos trés chers uilisateurs, faisant parti de la communauté de Snowtricks. </p>
                    {% if is_granted('ROLE_USER') == false %}
                   <p><strong>N'hésitez pas à créer un compte</strong>, vous pourrez ainsi mieux profiter du contenu du site, en pouvant, par exemple créer vos propres figures,
                       ajouter ou modifer du contenu aux figures existantes, et poster vos propres messages afin d'échanger avec la communauté. </p>
                    <p>Alors, plus une seconde à perdre, inscrivez vous, et entrez dans la communauté Snowtricks.</p>
                    {% endif %}

                </div>
            </div>

            <!-- ================================================== -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3>Cherchez votre bonheur :</h3>
                    <p><strong>(et si il n'y est pas, créez le en vous inscrivant)</strong></p>
                </div>
            </div>

            <!-- Search Form
            ================================================== -->
            <div class="row">
                {{ form_start(form) }}

                    {{ form_row(form.firstResult) }}
                    <div class="col-xs-11 noPaddingRight top10">
                        {{ form_row(form.search) }}
                    </div>
                    <div class="col-xs-1 noPaddingLeft top10">
                        <span class="btn btn-info search-btn" id="search"><i class="fa fa-search"></i></span>
                    </div>

                    <div class="col-lg-2 col-xs-6 top10 text-center">
                        {{ form_row(form.number) }}
                    </div>
                    <div class="col-lg-3 col-lg-offset-2 col-xs-6 top10 text-center">
                        {{ form_row(form.orderedBy) }}
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-xs-6 top10 text-center">
                        {{ form_row(form.order) }}
                    </div>
                    <div class="col-lg-1 col-xs-6 top10 text-center">
                        <button type="submit" class="btn btn-info sort-btn col-xs-12" id="sort" formnovalidate><i class="fa fa-sort"></i></button>
                    </div>

                {{ form_end(form) }}
            </div>
            <!-- ================================================== -->

            <!-- Tricks list
            ================================================== -->

            {% for trick in tricks %}
                {% set thumb = trick.pictures %}
                {% if thumb is empty %}
                    {% set thumbnail = 'bundles/snowtrickscore/img/no_picture.png' %}
                {% else %}
                    {% set picture = random(thumb) %}
                    {% set thumbnail = picture.thumbnailSize %}
                {% endif %}
                <div class="stick col-sm-4">
                    <a href="{{ path('SnowtricksCore_Figure', { 'id': trick.id}) }}">
                        <div class="trick-stick">
                            <div class="col-xs-12 text-center trick-stick-title"><h4>{{ trick.title }}</h4></div>
                            <div class="col-xs-12 stick-thumb"><img src="{{ asset(thumbnail) }}"></div>
                            <div class="col-xs-12 stic-links">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('SnowtricksCore_Trick_Update', { 'id': trick.id}) }}" title="Modifier"><div class="col-xs-1 col-lg-offset-1 text-center"><h5><i class="fa fa-pencil" aria-hidden="true"></i></h5></div></a>
                                <div class="col-xs-8 text-center">{{ trick.group.name }}</div>
                                <a href="{{ path('SnowtricksCore_Trick_Delete', { 'id': trick.id}) }}" title="Supprimer"><div class="col-xs-1 text-center"><h5><i class="fa fa-trash-o" aria-hidden="true"></i></h5></div></a>
                            {% else %}
                                <div class="col-xs-offset-2 col-xs-8 text-center top10 bottom10">{{ trick.group.name }}</div>
                            {% endif %}
                            </div>
                            <div class="col-xs-12 text-justify top10 bottom10 trick-stick-desc">{{ trick.description }}</div>
                            <div class="col-xs-12 text-left"><strong>{{ trick.createdBy.name }} {{ trick.createdBy.surname }}</strong></div>
                        </div>
                    </a>
                </div>

            {% endfor %}

            <div class="col-xs-12 top10 bottom10">
                {% if search.firstResult != 0 %}
                <div class="col-xs-3">
                    <span class="btn btn-info prev-btn"><i class="fa fa-arrow-circle-left"></i> Précédent</span>
                </div>
                {% endif %}

                {% if search.firstResult == 0 %}
                    <div class="col-xs-4 col-xs-offset-4 text-center" id="pagination-conter">
                {% else %}
                    <div class="col-xs-4 col-xs-offset-1 text-center" id="pagination-conter">
                {% endif %}
                    {{ ((search.firstResult+1) // search.number)+1 }} sur {{ (tricks|length/search.number)|round(0, 'ceil') }}
                    </div>

                {% if search.firstResult + search.number < tricks|length %}
                     <div class="col-xs-3 col-sm-offset-1 next-btn">
                        <span class="btn btn-info">Suivant <i class="fa fa-arrow-circle-right"></i></span>
                     </div>
                {% endif %}
            </div>
            <!-- ================================================== -->
{% endblock %}
