<!DOCTYPE html>
<html>

<body>

    <div>
        <h2>Bievenue parmis nous {{ user.surname }}!!!</h2>
        <p>Il reste encore une dernière étape pour activer votre compte. Pour celà il vous suffit de cliquer sur le lien suivant :</p>
        <p><a href="{{ app.request.schemeAndHttpHost }}{{ path('SnowtricksCore_Check_User', { 'token': user.checkingToken }) }}">{{ app.request.schemeAndHttpHost }}{{ path('SnowtricksCore_Check_User', { 'token': user.checkingToken }) }}</a></p>
        <p>Si le lien ne marche pas, il suffit de copier le lien ci-dessus et de le coller dans ton navigateur.</p>
        <p>A tout dessuite :) !!!</p>
    </div>

</body>

</html>
